.container {
    width:100%;
    min-height:74vh
}

.table {
    margin: 3rem;
    padding: 1rem;
    width: 80%;
    align-items: center;
    text-align: center;
    font-size: large;
}

.table tr {
    background-color: #177ee6;
    border: 2px solid white;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
.table td {
    background-color: #adcff1d6;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.button {
    border: 2px solid white;
    color: lightcyan;
    background-color: rgba(215, 222, 97, 0.158);    
    padding: 10px;
    border-radius: 7%;
    font-size: 18px;
}

.button:hover {
    border: 2px solid white;
    color: lightcyan;
    background-color: rgba(216, 222, 97, 0.525);    
    padding: 10px;
    border-radius: 7%;
    font-size: 18px;
    cursor: pointer;
}

.modal {
    position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backdrop-filter: blur(3px);
	z-index: 4;
}

.mod {
    width: 20rem;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    box-shadow: 1px 1px 1px rgba(0, 0, 255, 0.322)
}