.links {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 3;
    height: 5vh;
    color: white;
    background-color: transparent;
    background-color: rgba(124, 124, 124, 0.6);
}

.links {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 2vmax;
}

button {
    background-color: transparent;
    border: none;
}
