.orderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectOrder {
    color: lightcyan;
    font-family: cursive;
    border-radius: 50px;
    background-color: rgba(187, 50, 68, 0.795);
    border: 0;
    padding: 0.5rem;
}
